h1 {
    background-color:#000000;
    color:#ffffff;
    padding:10px;
    border-radius:5px;

}

* {
    font-family:Arial, sans-serif;

}

p {
    font-style:italic;

}

#results {
    margin-top:25px;
    padding-top:10px;
    border-top: 1px dashed #000000;
    width:500px;
    
}